.card-container {
  perspective: 1000px; /* 調整這個值以獲得最佳效果 */
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      135deg,
      hsla(0, 0%, 100%, 0.9) 0%,
      hsla(0, 0%, 100%, 0.2) 100% /* 透明度為 0.5 */
    ),
    url("https://free-paper-texture.com/p/p0427/p0427_m.jpg");
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 3px; /* 圓角邊框 */
  padding: 20px;
  color: #551f00;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 0.5s; /* 平滑過渡效果 */
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card::before {
  content: "❄";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 5em; /* 調整雪花大小 */
  color: rgb(45, 136, 184);
  border: rgb(45, 136, 184) 1.25px solid;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.card-back {
  transform: rotateY(180deg);
}

.card-text {
  opacity: 1;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card-selected {
  transform: rotateY(180deg);
}

.card-selected .card-text {
  opacity: 0;
}

.fade-transition {
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* 初始為完全透明 */
}

.fade-in {
  opacity: 1;
}
