@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300&family=Noto+Sans+TC:wght@300&family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Emoji", "Rubik", "Noto Sans TC", sans-serif;
  place-items: center;
  background-image: linear-gradient(
      135deg,
      hsla(0deg, 91%, 65%, 0.5) 0%,
      hsla(112deg, 79%, 77%, 0.5) 100%
    ),
    url("https://free-paper-texture.com/p/p0427/p0427_m.jpg");
}
